

.card {
  border: none !important;
}

.explore-header {
  display: flex; 
  font-size: 1.5rem;
  text-align: center; 
  height: 100%;
}

.custom-accordion {
  border: 2px solid #007bff; 
  border-radius: 5px;
}

.custom-accordion .accordion-item {
  border: none;
}





